<div class="stories-nav" data-region="stories-nav">
    {{#cancreate}}
        <button type="button" class="stories-btn stories-create" data-action="open-stories-editor" aria-label="{{#str}}modal:create_title, local_stories{{/str}}">
            <i class="icon fa fa-plus" aria-hidden="true"></i>
        </button>
    {{/cancreate}}

    {{#stories}}
        <button type="button" class="stories-btn {{#seen}}stories-seen{{/seen}}{{^seen}}stories-unseen{{/seen}} me-2"
           data-action="open-story"
           data-story-id="{{id}}"
           aria-label="{{#str}}modal:story_aria, local_stories{{/str}} {{id}}">
            <i class="icon fa fa-circle" aria-hidden="true"></i>
        </button>
    {{/stories}}
</div>
