<div class="d-flex align-items-center stories-nav mx-2" data-region="stories-nav">
    <a href="#" class="nav-link" data-action="open-stories-editor" aria-label="Добавить историю">
        <i class="icon fa fa-plus" aria-hidden="true"></i>
    </a>
    <div class="stories-indicators d-flex align-items-center ms-2">
        <i class="icon fa fa-circle me-1" aria-hidden="true"></i>
        <i class="icon fa fa-circle" aria-hidden="true"></i>
    </div>
</div> 
